
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');

      
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem;
      }
      body {
        margin: 0;
        font-family: 'Prompt', sans-serif;
        color: white;
        background: #202731;
        overflow-x: hidden;
      }

      section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding-top: 100px;
      }


      .primorange {
        background: #FF6000;
      }

      .primwhite {
        background: #FFE6C7;
      }


      .blue {
        background: #3c31dd;
      }

      .red {
        background: #dd3f31;
      }

      .pink {
        background: #ff0066;
        overflow: hidden;
      }

      .dark {
        background: #0f0f10;
      }

      /* Curved bg with plain CSS */

      .curve {
        position: absolute;
        height: 200px;
        width: 100%;
        bottom: 0;
        text-align: center;
      }

      .curve::before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        transform: translate(85%, 60%);
        background-color: hsl(216, 21%, 16%);
      }

      .curve::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 55%;
        height: 100%;
        background-color: #FF6000;
        transform: translate(-4%, 40%);
        z-index: -1;
      }

      /* Bubble bg with plain CSS */

      .bubble::after {
        content: '';
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        background-color: white;
        height: 85%;
      }

      

      .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
      }

      .wave svg {
        position: relative;
        display: block;
        width: calc(103% + 1.3px);
        height: 262px;
      }

      .wave .shape-fill {
        fill: hsl(240, 3%, 6%);
      }

    

      .spacer {
        aspect-ratio: 960/300; /* Maintain the aspect ratio */
        width: 100%;
        height: 100px; /* Increase the height to create more spacing */
        background-repeat: repeat-x;
        background-position: center;
        background-size: cover;
      }
      

      .layer1 {
        background-image: url('./layer1.svg');
      }
      .layer2 {
        background-image: url('./layer2.svg');
      }

      .flip {
        transform: rotate(180deg);
      }

      .header-links li span {
        position: relative;
        z-index: 0;
      }
    
      .header-links li span::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 2px;
        left: -4px;
        right: -4px;
        display: block;
        height: 6px;
      }
    
  
