<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>therapy</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>  
      <header class="primorange shadow-lg h-24 hidden md:flex">
        <a href="" class=" flex-shrink flex items-center justify-center px-4 lg:px-6 xl:px-8">
          <img class="h-16" src="../static/white.svg" alt="" />
        </a>
        <nav class="header-links contents font-semibold text-base lg:text-lg">
          <ul class="flex items-center ml-4 xl:ml-8 mx-auto">
            <li class="p-3 xl:p-6 ">
              <a href="{{ url_for('dashboard') }}">
                <span>Dashboard</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('articles') }}">
                <span>Articles</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('hope') }}">
                <span>Hope</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('therapy') }}">
                <span>Therapy</span>
              </a>
            </li>
            <li class="p-3 xl:p-6 ">
              <a href="{{ url_for('chatbot') }}">
                <span>Chat</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('contacts') }}">
                <span>Contacts</span>
              </a>
            </li>
            
          </ul>
        </nav>
        
        <div class=" flex items-center px-4 lg:px-6 xl:px-8">
          <button class="bg-white hover:bg-gray-700 hover:text-white text-black font-bold px-4 xl:px-6 py-2 xl:py-3 rounded-lg">Log Out</button>
        </div>
      </header>

      <div class="container flex  justify-between items-center text-[#FFE6C7]">
        <div class="w-1/2 p-8 m-4">
            <p class="text-4xl font-semibold">Articles, Videos and podcasts</p>
            <p class="text-2xl font-medium">Hundreds of articles for any mind, any mood, any goal. Browse all of our articles on mental health, mindfulness, sleep, and more.</p>
            <!-- <audio controls>
                <source src="horse.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>  -->
        </div>
        <div class="w-1/2 p-8 m-4">
            
        </div>
        
        
      </div>
</body>
</html> 