<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbot</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>  
      <header class="primorange shadow-lg h-24 hidden md:flex">
        <a href="" class=" flex-shrink flex items-center justify-center px-4 lg:px-6 xl:px-8">
          <img class="h-16" src="../static/white.svg" alt="" />
        </a>
        <nav class="header-links contents font-semibold text-base lg:text-lg">
          <ul class="flex items-center ml-4 xl:ml-8 mx-auto">
            <li class="p-3 xl:p-6">
              <a href="">
                <span>Dashboard</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('articles') }}">
                <span>Articles</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="">
                <span>Hope</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="">
                <span>Therapy</span>
              </a>
            </li>
            <li class="p-3 xl:p-6 ">
              <a href="">
                <span>Chat</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="">
                <span>Contacts</span>
              </a>
            </li>
            
          </ul>
        </nav>
        
        <div class=" flex items-center px-4 lg:px-6 xl:px-8">
          <button class="bg-white hover:bg-gray-700 hover:text-white text-black font-bold px-4 xl:px-6 py-2 xl:py-3 rounded-lg">Log Out</button>
        </div>
      </header>

      <section class="">
        <h1 class="font-bold text-7xl mb-12  text-white">Welcome to our chatbot assistant, F.A.M.</h1>
        <p class="border border-4 border-white p-8 rounded-lg border-black mx-auto font-semibold text-3xl text-left mb-12 text-[#FFE6C7]">Feel free to ask any questions you have on your mind. <br>
            Whether it's about general knowledge, advice, or just a friendly chat, F.A.M. is here to help.</p>
        </section>
        
        <section class="bubble mx-8  spacer pt-60" >
            <div class="w-full h-72">
                <p><br><br><br><br></p>
                <form action="" class="flex">
                    <input
                      id="chatquery"
                      type="chatquery"
                      placeholder="Enter queries here"
                      class="border bg-[#FFE6C7] text-black flex-grow p-4 rounded"
                    />
                    <button
                      type="submit"
                      class="bg-[#e87f00] w-24 text-center pb-2.5 pt-3 text-sm font-medium"
                    >
                      Ask
                    </button>
                  </form>
                  
                
            </div>
        </section>


    

 
</body>
</html> 