<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hope</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>  
      <header class="primorange shadow-lg h-24 hidden md:flex">
        <a href="" class=" flex-shrink flex items-center justify-center px-4 lg:px-6 xl:px-8">
          <img class="h-16" src="../static/white.svg" alt="" />
        </a>
        <nav class="header-links contents font-semibold text-base lg:text-lg">
          <ul class="flex items-center ml-4 xl:ml-8 mx-auto">
            <li class="p-3 xl:p-6 ">
              <a href="{{ url_for('dashboard') }}">
                <span>Dashboard</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('articles') }}">
                <span>Articles</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('hope') }}">
                <span>Hope</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('therapy') }}">
                <span>Therapy</span>
              </a>
            </li>
            <li class="p-3 xl:p-6 ">
              <a href="{{ url_for('chatbot') }}">
                <span>Chat</span>
              </a>
            </li>
            <li class="p-3 xl:p-6">
              <a href="{{ url_for('contacts') }}">
                <span>Contacts</span>
              </a>
            </li>
            
          </ul>
        </nav>
        
        <div class=" flex items-center px-4 lg:px-6 xl:px-8">
          <button class="bg-white hover:bg-gray-700 hover:text-white text-black font-bold px-4 xl:px-6 py-2 xl:py-3 rounded-lg">Log Out</button>
        </div>
      </header>
    
      <section>
        <div class="p-8 m-4 items-center">
            <p class="text-6xl pb-4  font-semibold">Stories</p>
            <p class="text-2xl text-[#FFE6C7] font-medium">Explore what our readers have to say about their mental health and journey of self-discovery with these heartwarming stories! </p>
        </div>
      </section>


    

</body>
</html> 